
{{>header1}}

 {{!-- welcome page --}}
<div>
    <center><h1 style="margin-top:1em">Welcome To Company101</h1></center>
    <center><button style="margin-top:1em;" class="btn btn-success" onclick="window.location.href = '/create_company';" style="margin-left: 1em;">Create Company</button></center>
</div>
{{!-- end --}}


{{!-- <div class="container"> --}}
<div class="row">
<div class="col-6">
<button style="margin-top:5em;margin-left:20em; width:20em;height:10em" class="btn btn-dark" onclick="window.location.href = '/to_employee';" style="margin-left: 1em;">Go To Employee Dashboard</button>
</div>
<div class="col-6">
<button style="margin-top:5em;margin-left:5em; width:20em;height:10em" class="btn btn-dark" onclick="window.location.href = '/to_company';" style="margin-left: 1em;">Go To Company Dashboard</button>
</div>

{{!-- </div> --}}


   